<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <a href="/">
    <img src="/img/jovens.jpg"/>
    <p><strong>Os Últimos Jovens da Terra: A Aventura da June<br>
      Capa dura</strong></p>
      <p><strong>Precinho: </strong>R$79,99</p>
      <p>por Jeph Loeb (Autor), Tim Sale (Editor), Gregory Wright (Tradutor)</p>
  </div>
</div>

</body>
</html>