<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <img src="https://m.media-amazon.com/images/I/91yEPgRcELL._SY466_.jpg"/>
    <p><strong>Os sete maridos de Evelyn Hugo<br>
      Capa comum </strong></p>
       <p><strong>Precinho: </strong>R$34,90</p>
       <p>por Ali Hazelwood (Autor)</p>
  </div>

  <div>
    <img src="https://m.media-amazon.com/images/I/51tHMjZsH2L._SY445_SX342_.jpg"/>
    <p><strong>A hipótese do amor<br>
      Capa comum</strong></p>
      <p><strong>Precinho: </strong>R$37,99</p>
      <p> por Taylor Jenkins Reid (Autor)</p>
    </div>

  <div>
    <img src="https://m.media-amazon.com/images/I/51ms-wNdc4L._SY445_SX342_.jpg"/>
    <p><strong>Lady Killers: Assassinas em Série<br>
      Capa dura</strong></p>
      <p><strong>Precinho: </strong>R$74,99</p>
      <p>Edição de colecionador, 24 janeiro 2019</p>
  </div>
</div>

</body>
</html>