<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>

  
    <img src="/img/<%= produto.img %>" >
    <p><strong><%= produto.nome %><br>
      Capa comum </strong></p>
       <p><strong>Precinho: </strong>R$34,90</p>
       <p>por Ali Hazelwood (Autor)</p>
       <button class="botao">Ver mais</button> 
       </a>
  
</body>
</html>