<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <a href="/">
    <img class="img" src="/img/batman.jpg"/>
    <p><strong>Batman - O Longo Dia das Bruxas - Edição Definitiva<br>
      Capa comum</strong></p>
      <p><strong>Precinho: </strong>R$35,99</p>
      <p> por Max Brallier (Autor)</p>
  </div>
</div>

</body>
</html>