<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <img src="https://o.remove.bg/downloads/ba04ad3a-e58b-4a8f-8d74-d02f08503d69/download__1_-removebg-preview.png"/>
    <p>Tênis Nike LeBron Witness 7 Masculino</p>
  </div>

  <div>
    <img src="https://o.remove.bg/downloads/262a9a97-d736-464e-b201-faf942f3b5da/images-removebg-preview.png"/>
    <p>Tênis Nike LeBron Witness 7 Masculino Laranja</p>
    </div>

  <div>
    <img src="https://o.remove.bg/downloads/f230edac-9424-4231-9fe7-8ca928720f10/download-removebg-preview.png"/>
    <p>Tênis Nike LeBron Witness 7 Masculino Vermelho</p>
  </div>
</div>

</body>
</html>