<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <img src="https://m.media-amazon.com/images/I/51sVedtLxEL.__AC_SX300_SY300_QL70_ML2_.jpg"
  </div>

  <div>
    <img src="https://m.media-amazon.com/images/I/61YBTnWLUFL.__AC_SX300_SY300_QL70_ML2_.jpg"
  </div>

  <div>
    <img src="https://m.media-amazon.com/images/I/71igAEi3FDL.__AC_SY300_SX300_QL70_ML2_.jpg"
  </div>
</div>

</body>
</html>