<!DOCTYPE html>
<html>
<head>
  <title>Projeto Express e EJS</title>
  <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<img>
  <h1><%= message %></h1>
  <h1 class="letras">Produtos</h1>
  <div class="flex-container">
  <div>
    <a href="/produtos2">

    <img src="https://m.media-amazon.com/images/I/51tHMjZsH2L._SY445_SX342_.jpg"/>
    <p><strong>A hipótese do amor<br>
      Capa comum</strong></p>
      <p><strong>Precinho: </strong>R$37,99</p>
      <p> por Taylor Jenkins Reid (Autor)</p>
    </div>
</div>

</body>
</html>