body{
background: rgb(2,0,36);
background: linear-gradient(90deg, rgb(65, 57, 217) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
color: aliceblue;
}

.letras{
    text-align: center;
    font-family: Courier, "Lucida Console", monospace;
    color: aliceblue;
    font-size: 55px;   
}

.flex-container{
 display: flex;
 margin: 30px;
 padding: 5px;
 background-color: rgb(255, 255, 255);   
 border: 3px solid #f5f5f522;
 display: inline-block;
 overflow: hidden;
 height: 650px;
 width: 450px;
 font-size: 22px;   
 justify-content: space-around;
}   

a{
    text-decoration: none;
    color: rgb(42, 84, 120);
   }
   
