body{
    background: linear-gradient(#1E90FF, #6959CD);
color: aliceblue;
}

.letras{
    text-align: center;
    font-family: Courier, "Lucida Console", monospace;
    color: aliceblue;
}

.flex-container{
 display: flex;
 justify-content: center;
}
