body{
    background: linear-gradient(#1E90FF, #87CEFA, #6959CD);}

.letras{
    text-align: center;
    font-family: Courier, "Lucida Console", monospace;
}

.flex-container{
 display: flex;
 justify-content: space-evenly;
}